<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pin1n</title>
    <link rel="shortcut icon" href="../images/logo.png">
    <link rel="stylesheet" type="text/css" href="../libs/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/screen.css">
    <link rel="stylesheet" type="text/css" media="print" href="../css/print.css">

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../libs/js/bluebird.min.js"></script>
    <script src="../libs/js/jquery.min.js"></script>
    <script src="../libs/js/semantic.min.js"></script>
    <script src="../libs/js/tinymce/tinymce.min.js"></script>
    <script src="../../printer.js"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <div id="workspace" class="ui equal width padded grid">
      <div class="row">
        <div class="column">
          <div class="ui editable segment" id="input"></div>
          <a id="translate" class="ui circular orange huge icon button">
            <i class="chevron right icon"></i>
          </a>
        </div>
        <div class="column">
          <div class="ui editable segment" id="output"></div>
          <a id="print" class="ui circular positive huge icon button">
            <i class="print icon"></i>
          </a>
          <a id="edit" class="ui circular big icon button">
            <i class="chevron left icon"></i>
          </a>
          <div class="ui loader"></div>
        </div>
      </div>
    </div>
    <script>
      const remote = require('electron').remote;
      const BrowserWindow = require('electron').remote.BrowserWindow;
      const ipcRenderer = require('electron').ipcRenderer;

      var $loader = $('#output').siblings('.ui.loader');
      var $translateBtn = $('#translate.button');
      var $printBtn = $('#print.button');
      var $editBtn = $('#edit.button');

      function updatePinyin() {
        $translateBtn.addClass('loading');
        $loader.addClass('active');
        const windowID = remote.getCurrentWindow().id
        const invisPath = 'file://' + __dirname + '/worker.html'
        let win = new BrowserWindow({ width: 400, height: 400, show: false })
        win.loadURL(invisPath)
        win.webContents.on('did-finish-load', function () {
          var content = $('#input').html();
          win.webContents.send('compute-pinyin', content, windowID)
        })
      }

      ipcRenderer.on('pinyin-computed', function (event, input, output) {
        $('#output').html(output);
        $translateBtn.removeClass('loading');
        $loader.removeClass('active');
      });

      $(function() {
        // Init editors...
        tinymce.init({
          selector: '.editable#input',
          theme: 'inlite',
          inline: true,
          menubar: false,
          elementpath: false,
          statusbar: false,
          selection_toolbar: 'bold italic underline | alignleft aligncenter alignright alignjustify | h1',
          init_instance_callback: function (editor) {
            editor.on('NodeChange', function (e) {
              updatePinyin();
            });
          }
        }).then(function(editors) {
          if (editors.length) editors[0].focus();
        });

        tinymce.init({
          selector: '.editable#output',
          theme: 'inlite',
          inline: true,
          menubar: false,
          elementpath: false,
          statusbar: false,
          selection_toolbar: 'bold italic underline | alignleft aligncenter alignright alignjustify | h1'
        });

        // Init translate button...
        $translateBtn.click(function(evt) {
          updatePinyin();
          $('#workspace').addClass('translated');
        });

        // Init print button...
        $printBtn.click(printTo);

        // Init edit button...
        $editBtn.click(function(evt) {
          $('#workspace').removeClass('translated');
        });
      });
    </script>
  </body>
</html>
