<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pin1n</title>
    <link rel="shortcut icon" href="../images/logo.png">
    <link rel="stylesheet" type="text/css" href="../libs/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/screen.css">
    <link rel="stylesheet" type="text/css" media="print" href="../css/print.css">

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../libs/js/bluebird.min.js"></script>
    <script src="../libs/js/jquery.min.js"></script>
    <script src="../libs/js/semantic.min.js"></script>
    <script src="../libs/js/tinymce/tinymce.min.js"></script>
    <script src="../../printer.js"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <div id="workspace" class="ui horizontal segments">
      <div id="input" class="ui basic segment">
        <div class="editable"></div>
        <a id="translate" class="ui circular orange big icon button">
          <i class="chevron right icon"></i>
        </a>
      </div>
      <div id="output" class="ui basic segment">
        <div class="editable"></div>
        <a id="print" class="ui circular positive big icon button">
          <i class="print icon"></i>
        </a>
        <a id="edit" class="ui circular big icon button">
          <i class="chevron left icon"></i>
        </a>
      </div>
    </div>
    <script>
      const remote = require('electron').remote;
      const BrowserWindow = require('electron').remote.BrowserWindow;
      const ipcRenderer = require('electron').ipcRenderer;

      var $input = $('#input');
      var $output = $('#output');
      var $inputArea = $('#input .editable');
      var $outputArea = $('#output .editable');
      var $translateBtn = $('#input #translate.button');
      var $printBtn = $('#output #print.button');
      var $editBtn = $('#output #edit.button');

      function updatePinyin() {
        $translateBtn.addClass('loading');
        $output.addClass('loading');
        const windowID = remote.getCurrentWindow().id
        const invisPath = 'file://' + __dirname + '/worker.html'
        let win = new BrowserWindow({ width: 400, height: 400, show: false })
        win.loadURL(invisPath)
        win.webContents.on('did-finish-load', function () {
          var content = $inputArea.html();
          win.webContents.send('compute-pinyin', content, windowID)
        })
      }

      ipcRenderer.on('pinyin-computed', function (event, input, output) {
        $outputArea.html(output);
        $translateBtn.removeClass('loading');
        $output.removeClass('loading');
      });

      $(function() {
        // Init editors...
        tinymce.init({
          selector: '#input .editable',
          theme: 'inlite',
          inline: true,
          menubar: false,
          elementpath: false,
          statusbar: false,
          selection_toolbar: 'bold italic underline | alignleft aligncenter alignright alignjustify | h1',
          plugins: "contextmenu",
          contextmenu_never_use_native: true,
          contextmenu: "undo redo | cut copy paste selectall",
          init_instance_callback: function (editor) {
            editor.on('NodeChange', function (e) {
              updatePinyin();
            });
          }
        }).then(function(editors) {
          if (editors.length) editors[0].focus();
        });

        tinymce.init({
          selector: '#output .editable',
          theme: 'inlite',
          inline: true,
          menubar: false,
          elementpath: false,
          statusbar: false,
          selection_toolbar: 'bold italic underline | alignleft aligncenter alignright alignjustify | h1',
          plugins: "contextmenu",
          contextmenu_never_use_native: true,
          contextmenu: "undo redo | cut copy paste selectall"
        });

        // Init translate button...
        $translateBtn.click(function(evt) {
          updatePinyin();
          $('#workspace').addClass('translated');
        });

        // Init print button...
        $printBtn.click(printTo);

        // Init edit button...
        $editBtn.click(function(evt) {
          $('#workspace').removeClass('translated');
        });
      });
    </script>
  </body>
</html>
