@page {
  size: A4;
}

#workspace,
#workspace .editable {
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  width: 100% !important;
  height: auto !important;
  min-height: 100% !important;
  max-height: auto !important;
  overflow: visible !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

#input,
#workspace .button,
.mce-toolbar {
  display: none !important;
}
