@page {
  size: 210mm 297mm;
}

#workspace,
#workspace .row,
#workspace .row .column,
#workspace .editable {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  max-height: auto !important;
}

#workspace {
}

#workspace .row .column:first-of-type,
#workspace .button,
#input.editable,
.mce-toolbar {
  display: none !important;
}

#output.editable {
  overflow: visible !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}
